@import 'reset.css';
@import 'settings.css';
@import 'typography.css';

.logo {
	height: 20px;
}

.header {
	background-color:var(--primary-color)
}

.hero {
	background: url(../imgs/bg.jpg) no-repeat right bottom;
}

.hero h1 {
	height: 100%;
}
.flex-row {
	display:flex;
	flex-flow:row wrap;
	justify-content: space-between;
}
.flex-column {
	display:flex;
	flex-flow:column wrap;
}

.section {
	padding:30px 20px;
}

.features-detail{
	margin:0 auto;
	max-width:350px
}

.menu-list {
	display: none;
}

.gallery-tile{
	box-sizing: border-box;
	width:100%;
	padding :140px 90px;
	text-align: center	;
	background-size: cover;
	  
}

.gallery-tile1{
	background: url(../imgs/tesla.jpg) no-repeat center;
	background-size: cover;

}
.gallery-tile2{
	background: url(../imgs/procat.jpg) no-repeat center;
	background-size: cover;

}
.gallery-tile3{
	background: url(../imgs/hyperloop.jpg) no-repeat center;
	background-size: cover;
}

.gallery-tile4{
	background: url(../imgs/sneakycat.jpg) no-repeat center;
	background-size: cover;
}

.gallery-tile5{
	background: url(../imgs/bfr.jpeg) no-repeat center;
	background-size: cover;
}
.gallery-tile6{
	background: url(../imgs/funnycat.jpg) no-repeat center;
	background-size: cover;
}

.gallery-tile h3 {
	visibility: hidden;
}

.gallery-tile:hover h3 {
	visibility: visible;
}
@media screen and (min-width:768px) {
	.menu-list {
		display: flex;
	}
	.menu-img {
		display:none
	}
	.gallery-tile{
		width:calc(100% / 3);
	}
}