@import 'reset.css';
@import 'settings.css';
@import 'typography.css';

/* General classes for flex containers */
.flex-row {
	display:flex;
	flex-flow:row wrap;
	justify-content: space-between;
	align-items: center;
}

.flex-row-center {
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
}

.flex-column {
	display:flex;
	flex-flow:column wrap;
}

/* General classes for for main sections */
.section {
	padding:30px 20px;
}

.section > * {
	box-sizing: border-box;
	max-width: 1200px;
	margin: 0 auto;
}

/* header + nav */
.header {
	background-color:var(--primary-color);
	position:fixed;
	top:0;
	width: 100%;
	z-index: 100;
}

.logo,
.menu-img,
.menu-list li a{
	box-sizing: border-box;
	padding: 5px 20px;
	height: var(--header-height);
}


.menu-list,
.secondary-menu-list {
	display: none;
	position: relative;
	background-color:var(--primary-color);
}

.dropdown:hover >  .menu-list,
.secondary-dropdown:hover >  .secondary-menu-list{
	display: block;
	list-style-type: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
}

.menu-list li:hover,
.secondary-menu-list li:hover {
	background-color: burlywood;
}

/* hero section*/
main {
	margin-top:var(--header-height);
}
.hero {
	background: url(../imgs/bg.jpg) no-repeat top center;
	background-size: cover;
}
.hero--wrapper {
	max-width: 900px;
}

.hero--main {
	height: 100%;
	width: 100%;
}

.hero--side-wrapper {
	position: relative;
	z-index: 1;
}
.hero--side::before {
	content:"";
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%;  
	background-color: black;
	opacity:30%;
	z-index: -1;
}

.hero--side h2{
	padding-bottom: 20px;
	width:100%;
}
.hero--side p{
	padding-top: 20px;
	color: var(--secondary-color) ;
}

.features-detail{
	margin:0 auto;
	max-width:300px
}

.gallery-section {
	overflow: hidden;
}

.gallery-tile{
	box-sizing: border-box;
	width:100%;
	padding :140px 0;
	text-align: center	;
	white-space: nowrap ;
	z-index: 1;
}

.gallery-tile:hover {
	transform: scale(1.05);
	filter: brightness(80%);
	transition: transform   0.2s;
	z-index: 0;
}

.gallery-tile1{
	background: url(../imgs/tesla.jpg) no-repeat center;
	background-size: cover;

}
.gallery-tile2{
	background: url(../imgs/procat.jpg) no-repeat center;
	background-size: cover;

}
.gallery-tile3{
	background: url(../imgs/hyperloop.jpg) no-repeat center;
	background-size: cover;
}

.gallery-tile4{
	background: url(../imgs/sneakycat.jpg) no-repeat center;
	background-size: cover;
}

.gallery-tile5{
	background: url(../imgs/bfr.jpeg) no-repeat center;
	background-size: cover;
}
.gallery-tile6{
	background: url(../imgs/funnycat.jpg) no-repeat center;
	background-size: cover;
}

.gallery-tile h3 {
	visibility: hidden;
}

.gallery-tile:hover h3 {
	visibility: visible;
}


@media screen and (min-width:768px) {
	/* header + nav */
	.menu-list {
		display: flex;
	}

	.menu-img {
		display:none
	}
	.gallery-tile{
		width:calc(100% / 3);
	}
	.dropdown:hover >  .menu-list{
		display: flex;
		position: relative;
		text-align: center;
	}
	
	.menu-list > li {
		border-bottom: var(--primary-color) solid 2px;
	}

	.menu-list > li:hover {
		background-color: inherit;
		border-bottom: white solid 2px;
	}
	.secondary-dropdown:hover >  .secondary-menu-list{
		left:Auto;
	}

	/* hero section*/
	.hero {
		min-height: 70vh;;
	}
	.hero--wrapper {
		margin: 120px auto;
		border: var(--secondary-color) 3px solid;
	}

	.hero--main {
		flex:1
	}

	.hero--side-wrapper {
		flex:2;
	}
	.hero--side h2{
		border-bottom: var(--secondary-color) 1px dotted;
	}
	.hero--side p {
		width : 45%;
	}


}