@import 'reset.css';
@import 'settings.css';
@import 'typography.css';

/* General classes for flex containers */
.flex-row {
	display:flex;
	flex-flow:row wrap;
	justify-content: space-between;
	align-items: center;
}

.flex-row-center {
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
}

.flex-column {
	display:flex;
	flex-flow:column wrap;
}

/* General classes for for main sections */
.section {
	padding:30px 20px;
}

/* header + nav */
.header {
	background-color:var(--primary-color);
	position:fixed;
	top:0;
	width: 100%;
}

.logo,
.menu-img,
.menu-list li {
	padding: 10px 20px;
	height: 30px;
}

.menu-list li{
	min-width:80px;
}
.menu-list,
.secondary-menu-list {
	display: none;
	position: relative;
	background-color:var(--primary-color);
}

.dropdown:hover >  .menu-list,
.secondary-dropdown:hover >  .secondary-menu-list{
	display: block;
	list-style-type: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
}

.menu-list li:hover,
.secondary-menu-list li:hover {
	background-color: burlywood;
}

.hero {
	background: url(../imgs/bg.jpg) no-repeat right bottom;
}

.hero h1 {
	height: 100%;
}

.features-detail{
	margin:0 auto;
	max-width:350px
}

.gallery-tile{
	box-sizing: border-box;
	width:100%;
	padding :140px 90px;
	text-align: center	;
	white-space: nowrap ;
}

.gallery-tile1{
	background: url(../imgs/tesla.jpg) no-repeat center;
	background-size: cover;

}
.gallery-tile2{
	background: url(../imgs/procat.jpg) no-repeat center;
	background-size: cover;

}
.gallery-tile3{
	background: url(../imgs/hyperloop.jpg) no-repeat center;
	background-size: cover;
}

.gallery-tile4{
	background: url(../imgs/sneakycat.jpg) no-repeat center;
	background-size: cover;
}

.gallery-tile5{
	background: url(../imgs/bfr.jpeg) no-repeat center;
	background-size: cover;
}
.gallery-tile6{
	background: url(../imgs/funnycat.jpg) no-repeat center;
	background-size: cover;
}

.gallery-tile h3 {
	visibility: hidden;
}

.gallery-tile:hover h3 {
	visibility: visible;
}
@media screen and (min-width:768px) {
	.menu-list {
		display: flex;
	}

	.menu-img {
		display:none
	}
	.gallery-tile{
		width:calc(100% / 3);
	}
	.dropdown:hover >  .menu-list{
		display: flex;
		position: relative;
		text-align: center;
	}
	
	.menu-list li {
		border-bottom: var(--primary-color) solid 2px;
	}
	
	.menu-list li:hover,
	.secondary-menu-list li:hover {
		background-color: inherit;
		border-bottom: white solid 2px;
	}

	.secondary-dropdown:hover >  .secondary-menu-list{
		left:Auto;
	}
}